{% if section.settings.popup_product %}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }} style="background: {{ section.settings.topbg }};">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-left">
              {% render 'icon-htag' %}
              {%- if block.settings.text != blank -%}
                <p class="announcement-bar__message" style="color: {{ section.settings.toptext }};">
                  {{ block.settings.text }}
                </p>
              {%- endif -%}
            </div>
            <div class="col-md-6 text-right headtleft">
              <localization-form>
                    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel" style="color: {{ section.settings.toptext }};">
                            {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                            {% render 'icon-caret' %}
                          </button>
                          <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                            {%- for country in localization.available_countries -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                  {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
                
                  <localization-form class="anouncebar-lang">
                    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel" style="color: {{ section.settings.toptext }};">
                            {{ localization.language.endonym_name | capitalize }}
                            {% render 'icon-caret' %}
                          </button>
                          <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                            {%- for language in localization.available_languages -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                  {{ language.endonym_name | capitalize }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
              {%comment%} Webibazaar Wishlist {%endcomment%}
                <div class="wbheadwish">
                    <div class="wishlist">
                        {% if customer %}
                            <a href="/pages/wishlist">
                                {% render 'icon-wishlist' %} 
                                <span class="wbwish">{{ 'wbcustomlabel.wballtext.wishlist' | t }}</span>
                                <span class="wbwishcount d-none">0</span>
                            </a>
                        {% else %}
                            <a href="/account/login">
                              {% render 'icon-wishlist' %} 
                              <span class="wbwish">{{ 'wbcustomlabel.wballtext.wishlist' | t }}</span>
                              <span class="wbwishcount d-none">0</span></a>
                        {% endif %}
                    </div>
                </div>
              {%comment%} Webibazaar Wishlist Over {%endcomment%}
            </div>
          </div>
        </div>
        
      </div>
  {%- endcase -%}
{%- endfor -%}
{%- endif -%}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "popup_product",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
        "type": "color",
        "id": "topbg",
        "default": "#88b121",
        "label": "Top Bg Color"
    },
    {
        "type": "color",
        "id": "toptext",
        "default": "#fff",
        "label": "Inner Text Color"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
