{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<div class="">
    <h1 class="heading text-left"><span>Brands</span></h1>

    {%- liquid
    case section.settings.sort
        when 'products_high' or 'products_low'
            assign collections = collections | sort: 'all_products_count'
        when 'date' or 'date_reversed'
            assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
    endif
    -%}

    {%  comment  %} for ASCII Sort Order http://support.ecisolutions.com/doc-ddms/help/reportsmenu/ascii_sort_order_chart.htm {% endcomment %}
    {% assign letter_array = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" | split: ',' %}
    {% assign number_array = "0,1,2,3,4,5,6,7,8,9" | split: ',' %}

    <h4>#</h4>
    <hr style="margin-top: 0px !important;"/>

    <div class="rless row wballcatpage" style="flex-wrap: wrap; padding-bottom: 26px">
      {%- for collection in collections %}
        {%- if collection.metafields.custom.type == "Brand" %}
          {%  assign first_char = collection.title | slice: 0 | upcase %}

          {%- case first_char %}

            {% when "0" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "1" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "2" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "3" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "4" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "5" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "6" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "7" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "8" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

            {% when "9" %}
              <div class="col-sm-3 cless">
                <a href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>

          {% endcase %}

        {%- endif %}
      {%- endfor %}
    </div>


    {% for letters in letter_array %}

      <h4 style="margin-bottom: 0px !important;">{{ letters }}</h4>
      <hr style="margin-top: 0px !important;"/>

      <div class="rless row wballcatpage" style="flex-wrap: wrap; padding-bottom: 26px">
        {%- for collection in collections %}
          {%- if collection.metafields.custom.type == "Brand" %}
            {%  assign first_char = collection.title | slice: 0 | upcase %}
            {%- if first_char == letters %}
              <div class="col-sm-3 cless">
                <a style="" href="{{ collection.url }}">
                  <h7 style="white-space: nowrap;">{{- collection.title -}}<span class="icon-wrap">&nbsp;{% comment %}{% render 'icon-arrow' %}{% endcomment %}</span></h7>
                </a>
              </div>
            {% endif %}
          {%- endif %}
        {%- endfor %}
      </div>

    {% endfor %}

</div>

<style>
  .col-sm-3 {
    margin-bottom: 20px !important;
  }

  .col-sm-3:hover {
    background-color: #E7E9EB;
    border-radius: 12px;
    transition: 0.;
  }
</style>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    }
  ]
}
{% endschema %}