<script src="{{ 'jquery.min.js' | asset_url }}"></script>
<!-- MDB -->
{% comment %} <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
></script> {% endcomment %}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<div class="">

{% comment %} Featured Brands {% endcomment %}
<h1 class="heading text-left"><span>Featured Brands</span></h1>

  <div>
    <div class="brands-container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
      <a class="brand-img" href="/collections/twist-eliquid" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/TWIST_color_200x200_.png" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/smok" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/slider_s_m_smok.jpg" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/7daze" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/7_daze.jpg" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/pod-juice" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Pod_Juice_Color_Transparent.png" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/naked" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://cdn.shopify.com/s/files/1/0660/0031/files/naked-100-logo_240x240.jpg?v=1569517459" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/elf-bar" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.unishowinc.com/wp-content/uploads/2022/01/Elf-Bar-Logo.jpg" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/coastal-clouds" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://cdn.shopify.com/s/files/1/0882/1942/collections/costal-clouds-vape-juice.png?v=1611868927" width="auto" height="130px"></a>
    </div>
    <div class="brands-container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; padding-top: 16px; padding-bottom: 22px; align-items: center;">
      <a class="brand-img" href="/collections/uwell" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Uwell_Black_Transparent.png" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/candy-king" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://images.squarespace-cdn.com/content/v1/5bfdb0e78f5130942394c1e2/1562513284774-IKRP5BHGSURZEW1JT50N/candy-king-logo-433x450.jpg" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/blvk" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://cdn.shopify.com/s/files/1/1726/8617/files/BLVK_Logo.jpg?v=1677279057" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/geek-vape" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://cdn.shopify.com/s/files/1/0613/8472/0630/collections/00fc1e482ffc199c4a8f829f0e4c2bc3.png?v=1644940988" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/vaporesso" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://tobaccoreporter.com/wp-content/uploads/sites/2/2022/04/vaporesso.jpg" width="auto" height="130px"></a>
      <a class="brand-img" href="/collections/skwezed" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://cdn.shopify.com/s/files/1/1732/9785/files/header_logo.png?v=1613506337" width="130px" height="auto"></a>
      <a class="brand-img" href="/collections/freemax" style="flex-shrink: 1; padding-top: 12px; padding-bottom: 12px"><img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/slider_f_r_freemax_logo_3_2.jpg" width="auto" height="130px"></a>
    </div>

    <h1 class="heading text-left"><span>All Brands</span></h1>

    <script>
      function liveSearch() {

        // Locate the card elements
        let cards = document.querySelectorAll('.brand-names')
        const alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];

        // Locate the search input
        let search_query = document.getElementById("form1").value;

        // Loop through the cards
        for (var i = 0; i < cards.length; i++) {
          // If the text is within the card...
          if(cards[i].innerText.toLowerCase()
            // ...and the text matches the search query...
            .includes(search_query.toLowerCase())) {
              // ...remove the `.is-hidden` class.
              cards[i].classList.remove("slow-hide");
          } else {
            // Otherwise, add the class.
            cards[i].classList.add("slow-hide");
          }
        }
        
        for (var i = 0; i < alphabet.length; i++) {
          var d = document.getElementById(alphabet[i] + "-header");
          let items = document.getElementsByClassName("col-sm-3 cless brand-names " + alphabet[i] + "-item").length
          if (document.getElementsByClassName("col-sm-3 cless brand-names " + alphabet[i] + "-item slow-hide").length == items) {
            d.className += " slow-hide";
          }
          else {
            d.className -= " slow-hide";
          }
        }
      }
    </script>

    <input 
      type="search" 
      oninput="liveSearch()" 
      id="form1" 
      class="form-control shadow-sm p-3 mb-3 bg-white rounded"
      placeholder="Search for brand... "
      style="text-align: center;"
    >

    {%- liquid
    case section.settings.sort
        when 'products_high' or 'products_low'
            assign collections = collections | sort: 'all_products_count'
        when 'date' or 'date_reversed'
            assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
    endif
    -%}

    {%  comment  %} for ASCII Sort Order http://support.ecisolutions.com/doc-ddms/help/reportsmenu/ascii_sort_order_chart.htm {% endcomment %}
    {% assign letter_array = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" | split: ',' %}
    {% assign number_array = "0,1,2,3,4,5,6,7,8,9" | split: ',' %}

    <ul class="nav" style="display: flex; justify-content: space-between;">
      {% for letters in letter_array %}
        <li href="#{{ letters }}-header" class="nav-item">
          <a class="nav-link active" href="#{{ letters }}-header">{{letters}}</a>
        </li>
      {% endfor %}
    </ul>

      <h4 style="padding-top: 22px;">#</h4>
      <hr style="margin-top: 0px !important;"/>

      <div class="list">
        <div class="rless row wballcatpage" style="flex-wrsap: wrap; padding-bottom: 1px">
          {%- for collection in collections %}{% include 'easylockdown_filter_collections' with collection %}
            {%- if collection.metafields.custom.type == "Brand" %}
              {%  assign first_char = collection.title | slice: 0 | upcase %}
  
              {%- case first_char %}
  
                {% when "0" %}
                <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "1" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "2" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "3" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "4" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "5" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "6" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "7" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "8" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 class="name" style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
                {% when "9" %}
                  <div class="col-sm-3 cless brand-names {% if collection.all_products_count == 0 %} hidden{% endif %}">
                    <a href="{{ collection.url }}">
                        <h7 style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                    </a>
                  </div>
  
              {% endcase %}
  
            {%- endif %}
          {%- endfor %}
        </div>
  
        {% for letters in letter_array %}
  
          <div id="{{ letters }}-header" class="{{ letters }}-header">

            <h4 style="margin-bottom: 0px !important;">{{ letters }}</h4>
            <hr style="margin-top: 0px !important;"/>
          
            <div class="rless row wballcatpage" style="flex-wrap: wrap; padding-bottom: 28px">
              {%- for collection in collections %}{% include 'easylockdown_filter_collections' with collection %}
                {%- if collection.metafields.custom.type == "Brand" %}
                  {% assign first_char = collection.title | slice: 0 | upcase %}
                  {%- if first_char == letters %}
                    <div class="col-sm-3 cless brand-names {{ letters }}-item {% if collection.products_count == 0 %} hidden{% endif %}" style="margin-bottom: 4px !important;">
                      <a href="{{ collection.url }}">
                        <h7 style="white-space: nowrap;">{{- collection.title -}}&nbsp;({{- collection.all_products_count -}})</h7>
                      </a>
                    </div>
                  {% endif %}
                {%- endif %}
              {%- endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
<style>
  .col-sm-3 {
    margin-bottom: 20px !important;
  }

  .col-sm-3:hover {
    background-color: #E7E9EB;
    border-radius: 12px;
    transition: 0.3s;
  }

  .brand-img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .slow-hide {
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear; */
  }
</style>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    }
  ]
}
{% endschema %}