{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
{% endjavascript %}

<div class="product-tab-item">

  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>

  <div class="pro-tab tabs">
    <h2 class="heading text-center"><span>{{ section.settings.m_title }}</span></h2>

    <ul class="list-inline nav-tabs text-center" style="display: flex; flex-wrap: nowrap; justify-content: center; margin-bottom: 0;">

      {%- for block in section.blocks -%}
          <li class="tab" style="margin: 0 25px;">
            <button class="tablinks nav-link" style="background-color: transparent;" onclick="openTab(event, 'wbprodtab2-{{block.id}}')"><span>{{ block.settings.cat_name }}</span></button>
          </li>
      {%- endfor -%}
      
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="tab-content tab-pro" style="padding-bottom: 30px; margin-bottom: 10px;">
    
      {%- for block in section.blocks -%}
      {%- assign collection = collections[block.settings.collection]  -%}
          <div id="wbprodtab2-{{block.id}}" class="tabcontent" {% if forloop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>

              <div class="rless">
                  <div class="owl-toppro">
                      {% for product in collection.products limit : 11 %}

                            <div class="grid__item col-12 cless list-unstyled">
                            {% render 'product-card-banner',
                            product_card_product: product,
                            block_id: block.id,
                            media_size: section.settings.image_ratio,
                            show_rating: section.settings.show_rating,
                            picker_type: section.settings.picker_type,
                            show_variants: false,
                            show_colorswatch: section.settings.show_colorswatch,
                            display_product_type: section.settings.display_product_type  %}
                            </div>

                      {% else %}
                          {%- for i in (1..6) -%}
                              <div class="twopro grid__item col-12 cless">
                                  {% render 'product-card-placeholder' %}
                              </div>
                          {%- endfor -%}
                      {% endfor %} 
                      <div class="grid__item col-12 cless list-unstyled" style="display: flex; justify-content: center; align-items: center;">
                        <div style="width: 65%;">
                          <button style="background-color: black; border: none; border-radius: 4px; color: white; height: 180px;">
                            View all <span>{{ section.settings.m_title }}</span>
                          </button>
                        </div>
                      </div>
                  </div>
              </div>

          </div>
      {%- endfor -%}

  </div>
</div>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<style>

  /* Create an active/current tablink class */
  .tabcontent {
  animation: fadeEffect 0.4s; /* Fading effect takes 1 second */
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .tab button.active {
    color: var(--gradient-base-accent-1) !important;
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
  }
</style>

{% schema %}
{
  "name": "Top Product I",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "text",
        "id": "m_title",
        "label": "Heading",
        "default": "Our product"
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
        "type": "checkbox",
        "id": "display_product_type",
        "label": "Show Product Type?",
        "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "Variants"
    },    
    {
      "type": "checkbox",
      "id": "show_variants",
      "default": false,
      "label": "Show color/size variants"
    },
    {
      "type": "select",
      "id": "picker_type",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
        }
      ],
      "default": "button",
      "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
    },
    {
        "type": "checkbox",
        "id": "show_colorswatch",
        "default": true,
        "label": "Enable color swatches",
        "info": "Type set to be 'Pills'. [Learn how to setup swatches](https://www.webibazaar.com/shopify/viola-doc/home#colorswatch)"
    }
  ],
  "blocks": [
        {
        "type": "collection",
        "name": "Collection",
        "settings": [
            {
                "id": "cat_name",
                "type": "text",
                "label": "Tab name"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "t:sections.featured-collection.settings.collection.label"
            }
        ]
        }
    ],
  "presets": [
    {
        "name": "Top Product",
        "category": "Collection"
    }
  ]
}
{% endschema %}