
{% capture wpd_discounted_prices %}{%- render 'wcp_discount'  wcp_discount:product , wpd_is_render:'yes' -%}{% endcapture %}
    
    {%- capture wcp_price -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_price' -%}{%- endcapture -%}
    {% assign  wcp_price = wcp_price | minus: 0 %}
    
    {%- capture wcp_compare_at_price  -%}{%- render 'wcp_render_discount', wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_compare_at_price' -%}{%- endcapture -%}
    {% if wcp_compare_at_price != blank %}
        {% assign  wcp_compare_at_price = wcp_compare_at_price | minus: 0 %}
    {% else %}
    {% assign  wcp_compare_at_price = nil %}
    {% endif %}
    
    {%- capture wcp_compare_at_price_min  -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_compare_at_price_min' -%}{%- endcapture -%}
    {% assign  wcp_compare_at_price_min = wcp_compare_at_price_min | minus: 0 %}
    
    {%- capture wcp_compare_at_price_max  -%}{%- render 'wcp_render_discount', wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_compare_at_price_max' -%}{%- endcapture -%}
    {% assign  wcp_compare_at_price_max = wcp_compare_at_price_max | minus: 0 %}
    
    {%- capture wcp_price_min -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_price_min' -%}{%- endcapture -%}
    {% assign  wcp_price_min = wcp_price_min | minus: 0 %}
    
    {%- capture wcp_price_max -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_price_max' -%}{%- endcapture -%}
    {% assign  wcp_price_max = wcp_price_max | minus: 0 %}
    
    
    {%- capture v_discount_tag -%}{%-render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'v_discount_tag'-%}{%- endcapture -%}
    {% assign v_discount_tag = v_discount_tag | strip %}
    
    {%- capture p_discount_tag -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'p_discount_tag' -%}{%- endcapture -%}
    {% assign p_discount_tag = p_discount_tag | strip %}
    
    {% assign raw_set_prices = product.metafields.wcp_set_prices.wcp_set_prices %}
    {% assign set_prices_array = blank %}
    {% if raw_set_prices %}
        {% assign set_prices_array = raw_set_prices | split: ',' %}
    {% endif %}
    
    {%- capture wcp_discount_value -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wpd_discounted_prices, price_variable:'wcp_discount_value' -%}{%- endcapture -%}
    
    {% capture wcp_v_discounted_prices %}{%- render 'wcp_variant' , wcp_variant:product.selected_or_first_available_variant , set_prices_array:set_prices_array , wpd_is_render:'yes', v_discount_tag : v_discount_tag , wcp_discount_value : wcp_discount_value -%}{%- endcapture -%}
    
    {%- capture wcp_v_price -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wcp_v_discounted_prices, price_variable:'wcp_v_price' -%}{%- endcapture -%}
    {% assign  wcp_v_price = wcp_v_price | minus: 0 %}
    
    {%- capture wcp_v_compare_at_price -%}{%- render 'wcp_render_discount' , wpd_discounted_prices:wcp_v_discounted_prices, price_variable:'wcp_v_compare_at_price' -%}{%- endcapture -%}
    {% if wcp_v_compare_at_price != blank %}
        {% assign  wcp_v_compare_at_price = wcp_v_compare_at_price | minus: 0 %}
    {% else %}
    {% assign  wcp_v_compare_at_price = nil %}
    {% endif %}


{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'photoswipe.css' | asset_url | stylesheet_tag }}
{{ 'default-skin.css' | asset_url | stylesheet_tag }}

    {% if customer %}
        <div class="wbmainwish">
            <h1 class="heading text-left"><span>{{ section.settings.wish_title }}</span></h1>
            <div class="row rless">
            {% paginate collections.all.products by 9999 %}
                {% for product in collections.all.products %}
                    <form action="/cart/add" method="post" class="cart col-lg-3 col-md-4 col-sm-4 col-6 cless" data-product-handle="{{ product.handle }}" enctype="multipart/form-data" id="add-item-form-{{ product.id }}">
                    {%- assign variant = product.selected_or_first_available_variant -%}
                        {%- if product.available -%}
                            {%- assign func = variant.id -%}
                        {% else %} 
                            {%- assign func = product.id -%}
                        {%- endif -%}         
                        <input name="id" id="id" value="{{ func }}" type="hidden">
                        <input value="1" type="hidden" name="quantity" min="1">
                        <div class="wbinnerwish" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">    
                            <div class="wbinnerwimg">
                                <a href="{{ product.url }}">
                                    <img class="lazyload img-fluid mx-auto" src="{{  product.featured_image | product_img_url: 'large' }}" data-src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                </a>
                                <a class="wbwishremove" onclick="reloadPage();" title="{{ 'wbcustomlabel.wballtext.removewishlist' | t }}" href="javascript:void(0)" data-product-handle="{{ product.handle }}">
                                    <span class="wbwishirmv"><i class="fa fa-remove"></i></span>
                                </a>
                            </div>
                            <div class="wbwishdesc">
                                <h5><a href="{{ product.url }}" title="{{ product.title }}">{{ product.title | truncate: 80 }}</a></h5>
                                <div class="product-price">
                                    {% if wcp_compare_at_price > wcp_price %}
                                        <span class="price-sale">{{ wcp_price | money }}</span>
                                        <span class="compare-price">{{ wcp_compare_at_price | money }}</span>
                                    {% else %}
                                        <span class="pro-price">{{ wcp_price | money }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            {% endpaginate %}
            </div>
            <div class="text-center">
                <a href="/collections/all" class="btn btn-primary">{{ section.settings.wish_cart_conti }}</a>
                <a href="javascript:void(0)" id="wbwishcall" class="btn btn-primary">{{ section.settings.wish_cart_clear }}</a>
            </div>
        </div>
        <div class="wbwishempty text-center">
            <p>{{ 'wbcustomlabel.wballtext.wishempty' | t }}</p>
        </div>
        <div class="wbwishloader" style="display: none;">
            <p>Loading...</p>
        </div>
    {% else %}
        <div class="wbloginwish text-center">
            <ul class="list-unstyled">
                <li>
                    <p>{{ 'wbcustomlabel.wballtext.logwish' | t }}</p> 
                    {{ 'wbcustomlabel.wballtext.log_in' | t | customer_login_link }}
                </li>
                <li>
                    <p>{{ 'wbcustomlabel.wballtext.accwish' | t }}</p> 
                    {{ 'wbcustomlabel.wballtext.create_accounthome' | t | customer_register_link }}
                </li>
            </ul>
        </div>
    {% endif %}

{% schema %}
{
  "name": "Wishlist Page",
  "settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "wish_title",
      "label": "Title",
      "default": "My Wishlist"
    },

    {
      "type": "header",
      "content": "Wishlist Button Action"
    },
    {
      "type": "text",
      "id": "wish_cart_conti",
      "label": "Title",
      "default": "Continue Shopping"
    },
    {
      "type": "text",
      "id": "wish_cart_clear",
      "label": "Title",
      "default": "Clear Wishlist"
    }
  ]
}
{% endschema %}

{%- assign wcp_prd_var = product -%}
{%- unless wcp_prd_var == empty -%}
            <script type='application/json' class='{%- for wcp_v in wcp_prd_var.variants -%} wcp_json_{{wcp_v.id}} {%- endfor -%} wcp_json_{{ wcp_prd_var.id }} wcp_json' id='wcp_json_{{ wcp_prd_var.id }}' > 
                {%- render 'wcp_product_json' with wcp_prd_var -%}
            </script>
{%- endunless -%}
