<!-- /templates/page.liquid -->

<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    
    
    
    
    
    
    
    <p> </p>
<h3 style="font-family: Arial;"><strong> SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 2 - CONSENT</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> <strong>How do you get my consent?</strong> </span></h4>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> When you provide us with personal information to complete a transaction, verify your credit card,place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. </span></h4>
<p> </p>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> <strong>How do I withdraw my consent?</strong> </span></h4>
<h4 style="font-family: Arial;"><span style="line-height: 25px;">If after you opt-in, you change your mind, you may withdraw your consent for us to contact you,for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@lavaporwholesale.com or mailing us at: LA Vapor Wholesale 1305 John Reed Ct. City of Industry, CA, 91745, United States </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 3 - DISCLOSURE</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 4 - SHOPIFY</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>PAYMENT:</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted. All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers. </span></h4>
<p> </p>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> For more insight, you may also want to read Shopify’s Terms of Service here or Privacy Statement here. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 5 - THIRD-PARTY SERVICES</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers. In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located. As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act. Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>LINKS</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 6 - SECURITY</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>COOKIES</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> Here is a list of cookies that we use. We’ve listed them here so you can choose if you want to opt-out of cookies or not. <br />_session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc). <br />_shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider’s internal stats tracker to record the number of visits <br />_shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer. <br />cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart. <br />_secure_session_id, unique token, sessional <br />storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 7 - AGE OF CONSENT</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>SECTION 8 - CHANGES TO THIS PRIVACY POLICY</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you. </span></h4>
<p> </p>
<h3 style="font-family: Arial;"><strong>QUESTIONS AND CONTACT INFORMATION</strong></h3>
<h4 style="font-family: Arial;"><span style="line-height: 25px;"> If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@lavaporwholesale.com or by mail at LA Vapor Wholesale <br /> [Re: Privacy Compliance Officer] <br /> [1305 John Reed Ct., City of Industry, CA, 91745, United States] </span></h4>
<p> </p>
<p> </p>
    
    
    
    
    
    
    
    
    
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ page.content | split: '[lang2]' | last }}</div>
      {% else %}
      {{ page.content | split: '[lang2]' | first }}
      {% endif %}
    </div> 
  </div> 
</div>
