<!-- /templates/page.liquid -->

<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    
    
    <style><!--
p {
  font-size: 15px;
}
--></style>
<p> </p>
<p>California Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/California_LAV_Distributors_License_010323.pdf?v=1672775115">Download Here</a></strong></i></p>
<p>Colorado Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/LAV_Colorado_License.pdf?v=1651786307">Download Here</a></strong></i></p>
<p>Connecticut Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Connecticut_-_Sales_and_Use_Tax_Permit.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Delaware Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Delaware_-Tobacco_License_bf6fb877-fa5e-4424-8ac1-05f2f030cf9e.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>District of Columbia Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/District_of_Columbia_-_Business_License.pdf?v=1677195386">Download Here</a></strong></i></p>
<p>Georgia Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Georgia_-_Tobacco_License.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>Illinois Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Illinois_-_Business_Authorization_Certificate.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Indiana Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Indiana_-_Distributor_License.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Kentucky Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Kentucky_-_Tobacco_Products_Distributor_License.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>Louisiana Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Louisiana_-_Tobacco_Wholesale_Dealer_Certificate_10ced0af-8fe8-4e87-a6c1-090eb03db136.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>Maine Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Maine_-_Retailer_Certificate_8032b88e-4f88-40dd-920f-9cbc1d738c29.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Maryland Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Comptroller_of_Maryland.pdf?v=1650389259">Download Here</a></strong></i></p>
<p>Massachusetts Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Massachusetts_-_Distributor_License_for_E-Nicotine_Delivery_Systems_Certificate_97236981-3e29-448d-8249-fda9324c78e1.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Minnesota Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Minnesota_-_Tobacco_Distributor_License.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>Nevada Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Nevada_-_OTP_Wholesale_Dealer_License.pdf?v=1677195383">Download Here</a></strong></i></p>
<p>New Hampshire Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/New_Hampshire_-_Tobacco_License.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>New Jersey Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/New_Jersey_-_Vapor_Business_License_172f1e01-8a56-4be6-a18b-b5e6942c11fe.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>New Mexico Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/New_Mexico_-_Tobacco_Distributor_License_28590544-1d69-4b7c-8224-a7051b27be27.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>New York Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/CCF_000103_1.pdf?v=1626198745">Download Here</a></strong></i></p>
<p>North Carolina Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/LAV_-_North_Carolina_License.pdf?v=1639785518">Download Here</a></strong></i></p>
<p>Ohio Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Ohio_-_OTP_and_Vapor_Products_License_3d563db1-55fe-4373-bd2b-f0f450a3533b.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Oregon Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Oregon_-_Tobacco_Distributor_License_f63bf3df-7789-4883-b33d-d4c32de49fe6.pdf?v=1677195386">Download Here</a></strong></i></p>
<p>Pennsylvania Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Pennsylvania_-_Tobacco_Products_License_0da462e1-4cf1-474e-8b68-53cf86289a8c.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Texas Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Texas_-_Sales_and_Use_Tax_Permit.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Utah Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Utah_-_E-Cig_and_Nicotine_Products_License.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Vermont Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Vermont_-_Wholesale_Tobacco_License_6dc2b856-521a-4e63-9139-aa648dffc540.pdf?v=1677195384">Download Here</a></strong></i></p>
<p>Virginia Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Virginia_-_Tobacco_Product_License.pdf?v=1677195386">Download Here</a></strong></i></p>
<p>Washington Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Washington_-_Business_License_Certificate_5daeefe2-553a-40a9-a5a7-a8fee58b9209.pdf?v=1677195386">Download Here</a></strong></i></p>
<p>West Virginia Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/West_Virginia_-_Tobacco_License_a9833cdb-128c-4470-8eaf-4c4f2a7ff961.pdf?v=1677195385">Download Here</a></strong></i></p>
<p>Wisconsin Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Wisconsin_-_Tobacco_Product_Permit_72b6db6a-dc2e-41a0-a072-0ee6b8b6be32.pdf?v=1677195386">Download Here</a></strong></i></p>
<p>Wyoming Tobacco License - <i><strong> <a href="https://cdn.shopify.com/s/files/1/1726/8617/files/Wyoming_-_OTP_Wholesale_License.pdf?v=1677195385">Download Here</a></strong></i></p>
    
    
    
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ page.content | split: '[lang2]' | last }}</div>
      {% else %}
      {{ page.content | split: '[lang2]' | first }}
      {% endif %}
    </div> 
  </div> 
</div>
